<% provide(:title, 'Meeting Times') %>

<div class="container">
   
    <div class="row">
<h1>Meeting Times</h1><hr>
    <div class="span3">
        <img src="http://www.shpe-uiuc.org/assets/shpe-header-20ed052aa8e6a7e75e3abd6ad0e15dad.png" width="220">
    </div>
    <div class="span9">
        <h3>
	External Committee
	</h3>
        <p> 
	#JustExternalThings
	</p>
        <p>
	<strong>Chairs:</strong> Sal Ramirez
	</p>
        <p>
            <strong>Meetings:</strong>
	</p>
	<p>
            ???
	    <br>
            ???
        </p>
        <p>
            <%= link_to 'More Info >>', external_path %>
        </p><hr>
    </div>

	 <div class="span3">
        <img src="http://www.shpe-uiuc.org/assets/shpe-header-20ed052aa8e6a7e75e3abd6ad0e15dad.png" width="220">
    </div>
    <div class="span9">
        <h3>
	Round Table Committee
	</h3>
        <p> 
	#JustRoundTableThings
	</p>
        <p>
	<strong>Chairs:</strong> ???
	</p>
        <p>
            <strong>Meetings:</strong>
	</p>
	<p>
            ???
	    <br>
            ???
        </p>
        <p>
            <%= link_to 'More Info >>', round_table_path %>
        </p><hr>
    </div>
       <div class="span3">
        <img src="http://www.shpe-uiuc.org/assets/shpe-header-20ed052aa8e6a7e75e3abd6ad0e15dad.png" width="220">
    </div>
    <div class="span9">
        <h3>
	Fundraising Committee
	</h3>
        <p> 
	#JustFundraisingThings
	</p>
        <p>
	<strong>Chairs:</strong> ???
	</p>
        <p>
            <strong>Meetings:</strong>
	</p>
	<p>
            ???
	    <br>
            ???
        </p>
        <p>
            <%= link_to 'More Info >>', fundraising_path %>
        </p><hr>
    </div>

	 <div class="span3">
        <img src="http://www.shpe-uiuc.org/assets/shpe-header-20ed052aa8e6a7e75e3abd6ad0e15dad.png" width="220">
    </div>
    <div class="span9">
        <h3>
	MemberSHPE Committee
	</h3>
        <p> 
	#JustMemberSHPEThings
	</p>
        <p>
	<strong>Chairs:</strong> ???
	</p>
        <p>
            <strong>Meetings:</strong>
	</p>
	<p>
            ???
	    <br>
            ???
        </p>
        <p>
            <%= link_to 'More Info >>', membershpe_path %>
        </p><hr>
    </div>


	 <div class="span3">
        <img src="http://www.shpe-uiuc.org/assets/shpe-header-20ed052aa8e6a7e75e3abd6ad0e15dad.png" width="220">
    </div>
    <div class="span9">
        <h3>
	Web Dev Committee
	</h3>
        <p> 
	#JustWebDevThings
	</p>
        <p>
	<strong>Chairs:</strong> ???
	</p>
        <p>
            <strong>Meetings:</strong>
	</p>
	<p>
            ???
	    <br>
            ???
        </p>
        <p>
            <%= link_to 'More Info >>', webdev_path %>
        </p><hr>
    </div>


	 <div class="span3">
        <img src="http://www.shpe-uiuc.org/assets/shpe-header-20ed052aa8e6a7e75e3abd6ad0e15dad.png" width="220">
    </div>
    <div class="span9">
        <h3>
	Community Service Committee
	</h3>
        <p> 
	#JustCommunityServiceThings
	</p>
        <p>
	<strong>Chairs:</strong> ???
	</p>
        <p>
            <strong>Meetings:</strong>
	</p>
	<p>
            ???
	    <br>
            ???
        </p>
        <p>
            <%= link_to 'More Info >>', community_service_path %>
        </p><hr>
    </div>

	 <div class="span3">
        <img src="http://www.shpe-uiuc.org/assets/shpe-header-20ed052aa8e6a7e75e3abd6ad0e15dad.png" width="220">
    </div>
    <div class="span9">
        <h3>
	Outreach Committee
	</h3>
        <p> 
	#JustOutreachThings
	</p>
        <p>
	<strong>Chairs:</strong> ???
	</p>
        <p>
            <strong>Meetings:</strong>
	</p>
	<p>
            ???
	    <br>
            ???
        </p>
        <p>
            <%= link_to 'More Info >>', outreach_path %>
        </p><hr>
    </div>

	 <div class="span3">
        <img src="http://www.shpe-uiuc.org/assets/shpe-header-20ed052aa8e6a7e75e3abd6ad0e15dad.png" width="220">
    </div>
    <div class="span9">
        <h3>
	Technical Committee
	</h3>
        <p> 
	#JustTechnicalThings
	</p>
        <p>
	<strong>Chairs:</strong> ???
	</p>
        <p>
            <strong>Meetings:</strong>
	</p>
	<p>
            ???
	    <br>
            ???
        </p>
        <p>
            <%= link_to 'More Info >>', technical_path %>
        </p><hr>
    </div>

	 <div class="span3">
        <img src="http://www.shpe-uiuc.org/assets/shpe-header-20ed052aa8e6a7e75e3abd6ad0e15dad.png" width="220">
    </div>
    <div class="span9">
        <h3>
	Student Advisory Committee
	</h3>
        <p> 
	#JustStudentAdvisoryThings
	</p>
        <p>
	<strong>Chairs:</strong> ???
	</p>
        <p>
            <strong>Meetings:</strong>
	</p>
	<p>
            ???
	    <br>
            ???
        </p>
        <p>
            <%= link_to 'More Info >>', student_advisory_path %>
        </p><hr>
    </div>
</div>
</div>
