<% provide(:title, 'Contact Us') %>

<div class="container">
  <div class="row>">
    <div class="span4 offset4" style="text-align:center">

      <h1>Meeting Times</h1>

      
    
      <hr/>
      <p>
        External
      </p>

      <p>
        Location: TBD
      </p>
	<p>
        Time: TBD
      </p>
	<p>
	Insert Info Here
      </p>
	<p>
	Link: <%= link_to 'External', external_path %>
      </p>
      <hr/>
      <p>
        Round Table
      </p>

      <p>
        Location: TBD
      </p>
	<p>
        Time: TBD
      </p>
	<p>
	Insert Info Here
      </p>
	<p>
	Link: <%= link_to 'Round Table', round_table_path %>
      </p>
      <hr/>
      <p>
        Fundraising
      </p>

      <p>
        Location: TBD
      </p>
	<p>
        Time: TBD
      </p>
	<p>
	Insert Info Here
      </p>
	<p>
	Link: <%= link_to 'Fundraising', fundraising_path %>
      </p>
      <hr/>
      <p>
        MemberSHPE
      </p>

      <p>
        Location: TBD
      </p>
	<p>
        Time: TBD
      </p>
	<p>
	Insert Info Here
      </p>
	<p>
	Link: <%= link_to 'MemberSHPE', membershpe_path %>
      </p>
      </hr>
	<hr/>
      <p>
        Web Dev
      </p>

      <p>
        Location: TBD
      </p>
	<p>
        Time: TBD
      </p>
	<p>
	Insert Info Here
      </p>
	<p>
	Link: <%= link_to 'Web Dev', webdev_path %>
      </p>
      </hr>
<hr/>
      <p>
        Community Service
      </p>

      <p>
        Location: TBD
      </p>
	<p>
        Time: TBD
      </p>
	<p>
	Insert Info Here
      </p>
	<p>
	Link: <%= link_to 'Community Service', community_service_path %>
      </p>
      </hr>
<hr/>
      <p>
        Outreach
      </p>

      <p>
        Location: TBD
      </p>
	<p>
        Time: TBD
      </p>
	<p>
	Insert Info Here
      </p>
	<p>
	Link: <%= link_to 'Outreach', outreach_path %>
      </p>
      </hr>
<hr/>
      <p>
        Technical
      </p>

      <p>
        Location: TBD
      </p>
	<p>
        Time: TBD
      </p>
	<p>
	Insert Info Here
      </p>
	<p>
	Link: <%= link_to 'Technical', technical_path %>
      </p>
      </hr>
<hr/>
      <p>
        Student Advisory
      </p>

      <p>
        Location: TBD
      </p>
	<p>
        Time: TBD
      </p>
	<p>
	Insert Info Here
      </p>
	<p>
	Link: <%= link_to 'Student Advisory', student_advisory_path %>
      </p>
      </hr>
      <br/><br/>
    </div>
  </div>

</div>
