<% provide(:title, 'Events') %>

<section>
  <div class="container">
    <div class="row">
      <% @events.each do |e| %>
          <h4><%= e.summary.to_s %>     </h4>

          <p><%= "Date: "+ e.start.dateTime.strftime("%A, %B %d, %Y") %>          </p>

          <p><%= "Time: "+ e.start.dateTime.strftime("%l:%M%p")+" -"+e.end.dateTime.strftime("%l:%M%p") %> </p>

          <p><%= "Location: "+ e.location.to_s if e.location %>            </p>

          <p><%= "Description: "+ e.description if e.description %>  </p>

          <p></p>
      <% end %>
    </div>
  </div>
</section>
<br/>