<% provide(:title, 'eboard') %>


<section>
<div class="container">

<div class="row">
  <div class="span8 offset2">
    <hr/>
    <h3 class="text-center">Meet the Executive Board</h3>
    <hr/>
  </div>
</div>
<!-- start of exec board row1 -->
<div class="exec-board">
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:president] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:president] %></h4>
            <h6>President</h6>

            <p>Email: <a href="mailto:shpe.uiuc.president@gmail.com">shpe.uiuc.president@gmail.com</a></p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:internal_vice_president] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:internal_vice_president] %></h4>
            <h6>Internal Vice President</h6>

            <p>Email: <a href="mailto:shpe.uiuc.vp.internal@gmail.com">shpe.uiuc.vp.internal@gmail.com</a></p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:external_vice_president] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:external_vice_president] %></h4>
            <h6>External Vice President</h6>

            <p>Email: <a href="mailto:exec.shpe.uiuc@gmail.com">exec.shpe.uiuc@gmail.com</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- end of exec board row1 -->
  <!-- start of exec board row2 -->
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:treasurer]%>
          <div class="caption">
            <h4><%= EXEC_BOARD[:treasurer] %></h4>
            <h6>Treasurer</h6>

            <p>Email: <a href="mailto:treasurer.shpe.uiuc@gmail.com">treasurer.shpe.uiuc@gmail.com</a></p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:secretary] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:secretary] %></h4>
            <h6>Secretary</h6>

            <p>Email: <a href="mailto:shpe.uiuc.secretary@gmail.com">shpe.uiuc.secretary@gmail.com</a></p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image  EXEC_BOARD[:membership_chair] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:membership_chair] %></h4>
            <h6>MemberSHPE Director</h6>

            <p>Email: <a href="mailto:shpe.uiuc.membership@gmail.com">shpe.uiuc.membership@gmail.com</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- end of exec board row2 -->
  <!-- start of exec board row3 -->
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:publicity_chair]  %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:publicity_chair] %></h4>
            <h6>Marketing</h6>

            <p>Email: <a href="mailto:shpe.uiuc.marketing@gmail.com">shpe.uiuc.marketing@gmail.com</a></p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:community_service_chair] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:community_service_chair] %></h4>
            <h6>Community Service Chair</h6>

            <p>Email: <a href="mailto:shpe.uiuc.service@gmail.com">shpe.uiuc.service@gmail.com</a></p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:high_school_outreach_chair] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:high_school_outreach_chair] %></h4>
            <h6>High School Outreach Chair</h6>

            <p>Email: <a href="mailto:shpe.uiuc.outreach@gmail.com">shpe.uiuc.outreach@gmail.com</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- end of exec board row3 -->
  <!-- start of exec board row4 -->
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:academic_excellence_chair] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:academic_excellence_chair] %></h4>
            <h6>Academic Excellence</h6>

            <p>Email: <a href="mailto:shpe.uiuc.academic@gmail.com">shpe.uiuc.academic@gmail.com</a></p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:student_advisor] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:student_advisor] %></h4>
            <h6>Student Advisor</h6>

            <p>Email: <a href="mailto:advisor@shpe-uiuc.org">advisor@shpe-uiuc.org</a></p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:technical_chair] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:technical_chair] %></h4>
            <h6>Technical Chair</h6>

            <p>Email: <a href="mailto:shpe.uiuc.technicalchair@gmail.com">shpe.uiuc.technicalchair@gmail.com</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- end of exec board row4 -->
  <!-- start of exec board row5 -->
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:graduate_ambassador] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:graduate_ambassador] %></h4>
            <h6>Graduate Ambassador</h6>

            <p>Email: N/A</p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <%= exec_image EXEC_BOARD[:rldc_chair] %>
          <div class="caption">
            <h4><%= EXEC_BOARD[:rldc_chair] %></h4>
            <h6>RLDC Chair</h6>

            <p>Email: <a href="mailto:kcriver2@illinois.edu">kcriver2@illinois.edu</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- end of exec board row5 -->
</div>

</div>
</section>