<section>
  <div class="container">
    <div class="row">
      <div class="span8">
        <div id="carousel-container">
          <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <%= image_tag "cheetos.jpg", size: '5000x500' %>

              </div>
              <div class="item">
                <%= image_tag "reppin_illinois.jpg",  size: '5000x500' %>

              </div>
              <div class="item">
                <%= image_tag "hsv_alma.jpg",  size: '5000x500' %>

              </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
      </div>
      <div class="span4">
        <!-- something else will go here, maybe newsletter -->
        <!--<div class="span4">-->
        <h3 class="text-center">Announcements</h3>

        <% for announcement in @announcements %>
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading"><%= link_to announcement.title, announcement %></h4>
                <small><%= announcement.created_at %></small>
                <p> <%= announcement.content.html_safe %> </p>
              </div>
            </div>
        <% end %>
        <!--</div>-->


      </div>
    </div>
  </div>
  <!-- /container -->
</section>
<div class="container">
  <div class="row">
    <div class="span12">
      <h3 class="text-center">Our Sponsors</h3>

      <div class="row">
        <div class="span2 offset3">
          <a href="http://www.accenture.com/us-en/pages/index.aspx">
            <%= image_tag "accenture.png", :size => '170x100' %>
          </a>
        </div>
        <div class="span2">
          <a href="http://www.capitalone.com/">
            <%= image_tag "capitalone.png", :size => '170x100' %>
          </a>
        </div>
        <div class="span2">
          <a href="http://www.dow.com/">
            <%= image_tag "dow.png", :size => '170x100' %>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span2 offset3">
          <a href="http://www.qualcomm.com/">
            <%= image_tag "qualcomm.png", :size => '170x100' %>
          </a>
        </div>
        <div class="span2">
          <a href="http://rgengineering.net/">
            <%= image_tag "rgengineering.png", :size => '170x100' %>
          </a>
        </div>
        <div class="span2">
          <a href="http://www.northropgrumman.com/Pages/default.aspx">
            <%= image_tag "northrupgrumman.png", :size => '170x100' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
    
