<% provide(:title, 'Members') %>
<section>
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <hr/>
      <h2 class="text-center">General Chapter Meeting Information</h2>
      <hr/>
      <p>
        The many committes within SHPE can be found listed on the <%= link_to "Meeting Times Page", committee_meeting_times_path %>.
      </p>
      <p>
        Although Executive Board members are elected, per our <%= link_to "Constitution", constitution_path %>, the meetings are open to all members with at least Full Member status. The eboard meets every Sunday from 3:00pm-4:00pm in Engineering Hall room 112.
      </p>
      <p>
        General Body meetings are announced on our <%= link_to 'Facebook Page', 'https://www.facebook.com/shpe.uiuc' %> and through our newsletter which you can sign up for on the home page. 
      </p>
      <hr/>
      <h2 class="text-center">Membership Details</h2>
      <hr/>
      <p><i>
        The following is a summary of information found within the <%= link_to "Constitution", constitution_path %>.
      </i></p>
      <p>
      <b class="text-underline">Honorary Members</b>
      <br/>
      Honorary membership status is offered to a person by vote of the elected board or by two-thirds consent of Active Membership. The title can be offered only to people who attend another university or is an interested high school student. Honorary members are allowed to join committees, hold committee positions, and attend general body meetings.
      <br/><br/>
      <b class="text-underline">Members</b>
      <br/>
      Members are UIUC students who have interest in SHPE. Members must maintain good academic standing. Members are allowed to join committees, hold committee positions, and attend general body meetings.
      <br/><br/>
      <b class="text-underline">Full Members</b>
      <br/>
      Full Membership is limited to UIUCs full-time students (graduate or undergraduate). A Full Member is a person who has paid chapter dues, has declared a major and must maintain good academic standing. Full Members have all the rights of a member and are allowed to win chapter prizes and attend Eboard meetings and run for Eboard positions provided the other criteria mentioned in the <%= link_to "Constitution", constitution_path %> for said position.
      <br/><br/>
      <b class="text-underline">Active Members</b>
      <br/>
      Active Members are Full Members who have paid national dues and have attended at least 5 chapter events, no more than 3 of which can be socials. Active Members have all the rights Full Member has, may vote for elected positions, and can also receive reimbursements. 
      <br/><br/>
      <b class="text-underline">Alumni</b>
      <br/>
      Alumni are people who have at some point held Active Membership within the chapter for several semesters and have a degree from UIUC. Alumni are allowed to attend any chapter events an Active Member can, may receive reimbursements, and are often invited to special chapter events, like the end of the year banquet as guests of honor.
      <br/><br/>
      </p>
      <br/>
      <hr/>
      <h2 class="text-center">Membership Competition</h2>
      <hr/>
      <p>
        Full Members and Active Members may compete in a competition within the chapter where members who participate in the most events will be rewarded. For information on scoring and prizes see the <%= link_to "MemberSHPE page", membershpe_path %>, whose committee hosts the competition.
      </p>
      <br/>
    </div>
  </div>
</div>
</section>