<% provide(:title, 'Outreach Committee') %>
<section class="grey-accent committee-page">
<div class="container">
  <div class="row">
    <div class="span6"><h1>High School Outreach</h1></div>
    <div class="span6 text-right">
      <h4>
        <%= EXEC_BOARD[:high_school_outreach_chair] %>
</br>
        <a href="mailto:shpe.uiuc.outreach@gmail.com">shpe.uiuc.outreach@gmail.com</a>
      </h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span12">
      <div class="pull-left" style="margin-right: 20px;">
        <div id="committeeCarousel" class="outreach-carousel carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#committeeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#committeeCarousel" data-slide-to="1"></li>
            <li data-target="#committeeCarousel" data-slide-to="2"></li>
            <li data-target="#committeeCarousel" data-slide-to="3"></li>
            <li data-target="#committeeCarousel" data-slide-to="4"></li>
            <li data-target="#committeeCarousel" data-slide-to="5"></li>
            <li data-target="#committeeCarousel" data-slide-to="6"></li>
            <li data-target="#committeeCarousel" data-slide-to="7"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active ">
              <%=image_tag("hsv/HSV_Fall_2015.jpg", alt: "HSV Fall 2015")%>
              <div class="carousel-caption">
                <h4>HSV Fall 2015</h4>
              </div>
            </div>
            <div class="item">
              <%=image_tag("hsv/HSV_Spring_2015.jpg", alt: "HSV Spring 2015")%>
              <div class="carousel-caption">
                <h4>HSV Spring 2015</h4>
              </div>
            </div>
            <div class="item">
              <%=image_tag("hsv/HSV_Fall_2014.jpg", alt: "HSV Fall 2014")%>
              <div class="carousel-caption">
                <h4>HSV Fall 2014</h4>
              </div>
            </div>
            <div class="item">
              <%=image_tag("hsv/HSV_Spring_2014.jpg", alt: "HSV Spring 2014")%>
              <div class="carousel-caption">
                <h4>HSV Spring 2014</h4>
              </div>
            </div>
            <div class="item">
              <%=image_tag("hsv/HSV_Fall_2013.jpg", alt: "HSV Fall 2013")%>
              <div class="carousel-caption">
                <h4>HSV Fall 2013</h4>
              </div>
            </div>
            <div class="item">
              <%=image_tag("hsv/HSV_Spring_2013.jpg", alt: "HSV Spring 2013")%>
              <div class="carousel-caption">
                <h4>HSV Spring 2013</h4>
              </div>
            </div>
            <div class="item">
              <%=image_tag("hsv/HSV_Fall_2012.jpg", alt: "HSV Fall 2012")%>
              <div class="carousel-caption">
                <h4>HSV Fall 2012</h4>
              </div>
            </div>
            <div class="item">
              <%=image_tag("hsv/HSV_Spring_2012.jpg", alt: "HSV Spring 2012")%>
              <div class="carousel-caption">
                <h4>HSV Spring 2012</h4>
              </div>
            </div>
            <div class="item">
              <%=image_tag("hsv/HSV_Fall_2011.jpg", alt: "HSV Fall 2011")%>
              <div class="carousel-caption">
                <h4>HSV Fall 2011</h4>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#committeeCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#committeeCarousel" data-slide="next">&rsaquo;</a>
        </div> <!-- end Carousel -->
      </div>
      <div class="text-center">
        <h3><strong>Meeting Time:</strong> Sundays from 4pm-5pm</h3>
        <h3><strong>Meeting Location:</strong> EH 106B8</h3>
        <hr/>
      </div>
      <p>
        Currently, the United States is facing a shortage of individuals in STEM fields. Compared to our counterparts, the U.S. has significantly fewer graduates entering STEM jobs year in and year out. Additionally, our K -12 students test below their international counterparts in math and science. If these trends continue, America will fall short of producing the innovators that are needed to address the issues of the 21st century. 
      </p>
      <p>
        Research states that Hispanics will be the majority population in the United States by 2040. Hispanic students need to be prepared to compete in the STEM fields that are projected to have the highest need for new hires. SHPE's mission is to empower the Hispanic community to realize its fullest potential and to impact the world through STEM awareness, access, support and development.
      </p>
      <p>
        Through the programs that the Outreach Committee organizes, SHPE will inspire the next generation of innovators this country needs! SHPE|UIUC aims to motivate minority students to pursue a higher education and increase the quantity of minorities in STEM fields. 
      </p>
      <br/>
      <hr>
      <h2 class="text-center">Programs</h2>
      <hr>
      <h3>High School Visitation (HSV)</h3>
      <p>
        High School Visitation (HSV) is an event that is held twice every academic year in which underrepresented high school students are invited to spend a weekend (Thursday-Sunday) on campus to learn about higher education opportunities and strategies that would help maximize their potential. Future undergraduates attend workshops, participated in team building activities, and listened to guest speakers. The majority of our workshops deal with leading concerns that high school students have such as scholarships, financial aid, test scores, uncertainty in deciding a career path, fitting in socially, and the advantages of stepping into secondary education. Students also receive the opportunity to experience college life by sleeping in dormitories, attending lectures, visiting campus facilities, and interacting with college students. This program is no charge. All participants will have transportation, meals, and lodging taken care of. 
      </p>
      <p>
        As mentioned earlier there are two instances of this program. The first occurs in the Fall and is open to ALL high school students. The second occasion occurs in the Spring and is restricted to high school SENIORS who have been accepted into the college of engineering at the University of Illinois at Urbana-Champaign.
      </p>
      <p>
        In both cases we send the application to our list of high schools, which in term show the application to their students. If you wish to add your high school to our mailing list you can do so by filling out the form at the bottom of the page: a credible contact is required.   
      </p>
      <h3>Visiting High Schools</h3>
      <p>
        During UIUC’s Winter and Spring breaks, members of our SHPE|UIUC chapter visit various Illinois high schools in an effort to shed some light on uncertainties that students might have when applying to college and motivate students by telling them the stories of how we got from their shoes to where we are today.  
      </p>  
      <h3>Shadow Program</h3>
      <p>
        The Society of Hispanic Professional Engineers (SHPE)  and La Casa at the University of Illinois at Urbana-Champaign are joining forces in an effort to launch a shadow program for minority high school students in the Chicagoland Area.
      </p>
      <p>
        Those who are interested in UIUC, or college in general, will be invited to come down to campus and shadow a college student throughout their day, including lunch in one of our dining halls. Please note that this program will not be restricted to only students who are interested in Engineering!<br/><br/>
      </p>
      <hr>
      <div class="text-center">
        For more information on our programs or how to join the committee please feel free to contact <a href="mailto:shpe.uiuc.outreach@gmail.com"><%= EXEC_BOARD[:high_school_outreach_chair] %></a> with any questions or concerns.
        <br/>
        If you would like your high school to be on our mailing list and to be considered for the above programs please submit this <a href="https://docs.google.com/forms/d/e/1FAIpQLSekXjOe_2uq6z1eWW9-lQbWZnwtug8L136dwOXWGsqRWlPJBA/viewform">form.</a> 
      </div>
    </div> 
  </div>
</div>
</section>
