<% provide(:title, 'Resources') %>

<div class="container">
  <div class="row">
    <div class="span9 center">
      <h1>Resources</h1>
      <ul class="nav nav-tabs">
        <li><a href="#career" data-toggle="tab">Careers</a></li>
        <li><a href="#scholarships" data-toggle="tab">Scholarships</a></li>
        <li><a href="#study-room" data-toggle="tab">Study Room Schedule</a></li>


      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="career">
          <h3>Careers</h3>
          <p> <%= link_to 'After College External Link', 'http://www.aftercollege.com/group/354032134/' %></p>
          <p><%= link_to 'Career Center External Link', 'http://www.careercenter.uiuc.edu/interestgroups/default.asp' %></p>

        </div>
        <div class="tab-pane fade" id="scholarships">
          <h3>Scholarships</h3>
          <p><%= link_to 'SHPE Foundation External Link', 'http://www.shpefoundation.org/' %></p>
          <p><%= link_to 'Hispanic Fund External Link', 'http://www.hispanicfund.org/' %></p>
          <p><%= link_to 'HENAAC Scholars External Link', 'http://www.greatmindsinstem.org/college/henaac-scholarship-program' %></p>
        </div>
        <div class="tab-pane fade" id="study-room">
          <h3>Study Room Schedule</h3>
          <p>The SHPE Study room at Grainger is reserved from 7pm to 9pm on Tuesday and 8pm to 10 pm on Thursday.</p>
        </div>

      </div>
    </div>
  </div>
</div>
