<% provide(:title, 'All users') %>

<div class="container">

  <div class="span8 center">
    <h2>All users</h2>

    <%= form_tag '' do %>
        <%=  select_tag 'major', options_for_select(MAJOR_ARRAY.collect{ |u| [u, u] }), prompt: 'All' %>
        <%= submit_tag 'Submit', class: 'btn btn-primary' %>
    <% end %>


    <% for user in @users %>
        <div class="span4">
          <%= link_to user.name, view_user_path(user) %>
        </div>
        <div class="span2">
          <%= user.major %>
        </div>
        <hr>
    <% end %>

  </div>
</div>
<br/><br/>