<% major_array = [
        'Aerospace Engineering',
        'Agricultural and Biological Engineering',
        'Bioengineering',
        'Chemical and Biomolecular Engineering',
        'Civil and Environmental Engineering',
        'Computer Science',
        'Electrical and Computer Engineering',
        'Industrial and Enterprise Systems Engineering',
        'Materials Science and Engineering',
        'Mechanical Science and Engineering',
        'Nuclear, Plasma, and Radiological Engineering',
        'Physics',
        'Other'

] %>

<% provide(:title, 'All users') %>

<div class="container">

  <div class="span8 center">
    <h2>All users</h2>

    <%= form_tag '' do %>
        <%=  select_tag 'major', options_for_select(major_array.collect{ |u| [u, u] }) %>
        <%= submit_tag 'Submit', class: 'btn btn-primary' %>
    <% end %>


    <% for user in @users %>
        <div class="span4">
          <%= link_to user.name, view_user_path(user) %>
        </div>
        <div class="span2">
          <%= user.major %>
        </div>
        <hr>
    <% end %>

  </div>
</div>
<br/><br/>