<div class="container">

<% for user in @users %>
<div class="row">

      <p>
        <%= gravatar_for user %>
        <%= user.name %>
        <% if user.admin? %>
        	<%= link_to 'ADMIN', '#', :class => 'btn btn-success' %>
        	<%= link_to 'Remove as Admin', {:controller=> "users",:action => "remove_admin",:id => user }, :class => "btn btn-danger"%>
        <% else%>
        	<%= link_to 'Add as Admin', {:controller=> "users",:action => "add_admin",:id => user }, :class => "btn btn-primary"%>

        <% end %>

              <% if user.eboard? %>
        	<%= link_to 'EBOARD', '#', :class => 'btn btn-warning' %>
        	<%= link_to 'Remove as Eboard', {:controller=> "users",:action => "remove_eboard",:id => user }, :class => "btn btn-danger"%>
        <% else%>
        	<%= link_to 'Add as Eboard', {:controller=> "users",:action => "add_eboard",:id => user }, :class => "btn btn-info"%>
        
        <% end %>


        <%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "You sure?" }, :class => 'btn btn-danger' %>
        </p>
</div>
<hr>

<%  end %>

</div>