<% provide(:title, @user.name) %>
<div class="row">


      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        
      </h1>

              

 </div>
<% if @user.admin? %> 
 <p>You are an admin</p>
 <%= link_to 'Control Panel', control_panel_path, :class => 'btn btn-primary' %>
<% end %>

<% if @user.eboard? %>
 <p>You are on Eboard</p>

<% end %>

<div class="row center">
	<%=link_to "Edit Profile", edit_user_path(current_user), :class => 'btn' %>
	<%= link_to "Upload Resume" , new_resume_path, :class => 'btn' %>
	<p><%= "GPA: " + @user.gpa.to_s if @user.gpa %></p>
	<p><%= "Major: " + @user.major  if @user.major%></p>
	<p><%= "UIN: " + @user.uin.to_s  if @user.uin %></p>
	<p><%= "Grad Date: " + @user.grad_date.to_s if @user.grad_date %>
	<p><%= "Phone Number " +  number_to_phone(@user.phone_number, :area_code => true) if @user.phone_number  %></p>

</div>