<% provide(:title, @user.name) %>

<div class="container">

  <div class="span4">

    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>

    </h1>


    <% if @user.admin? %>
        <p>You are an admin</p>
        <%= link_to 'Control Panel', control_panel_path, :class => 'btn btn-primary' %>
    <% end %>

    <% if @user.eboard? %>
        <p>You are on Eboard</p>
    <% end %>

    <% if @user.admin? or @user.eboard? %>
        <%= link_to "Add announcement", new_announcement_path, :class => 'btn' %>
    <% end %>


    <%= link_to "Edit Profile", edit_user_path(current_user), :class => 'btn' %>
    <%= link_to "Add Resume", new_resume_path, :class => 'btn' unless @user.company? %>

    <div class="well">

      <p><%= "GPA: " + @user.gpa.to_s if @user.gpa %></p>

      <p><%= "Major: " + @user.major if @user.major %></p>

      <p><%= "UIN: " + @user.uin.to_s if @user.uin %></p>

      <p><%= "Grad Date: " + @user.grad_date.to_s if @user.grad_date %>

      <p><%= "Phone Number: " + number_to_phone(@user.phone_number, :area_code => true) if @user.phone_number %></p>
      <%= link_to "Resume Link", @resume.pdf.url, class: 'btn' if @resume %>

    </div>
  </div>

  <% if @user.eboard? || @user.admin? %>
      <div class="span4">
        <h1>Your Announcements</h1>
        <%= link_to 'Add Announcement', new_announcement_path, class: 'btn' %>

        <% if @announcements.nil? || @announcements.empty? %>
            <div class="well">
              <h4>You have no announcements</h4>
            </div>
        <% else %>
            <% for announcement in @announcements %>
                <div class="well">
                  <h4><%= announcement.title %></h4>
                  <h5>By <%= @user.name %></h5>

                  <p><%= truncate(announcement.content.html_safe, :length => 30, :omission => '... (continued)') %></p>


                  <td><%= link_to 'Remove', announcement, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %></td>
                </div>
            <% end %>
        <% end %>
      </div>

  <% elsif @user.company? %>
  <div class="span4">
    <%= link_to "View users", users_path, class: 'btn btn-large btn-primary' %>

  </div>



  <% end %>




 </div>