<div class="container">
  <div class="row">
    <div class="span8 offset3">

      <h1>Event Registration</h1>

      <p id="notice"><%= notice %></p>

      <p>
        <b>Name:</b>
        <%= @event.name %>
      </p>

      <p>
        <b>Description:</b>
        <%= @event.description %>
      </p>

      <p>
        <b>Location:</b>
        <%= @event.location %>
      </p>

      <%= form_for :event_user, as: :post, url: event_users_path do |f|  %>
          <div class="field">
            <%= f.label :uin %>
            <br/>
            <%= f.text_field :uin %>
          </div>
          <%= f.hidden_field :event_id, value: @event.id %>
          <div class="actions">
            <%= f.submit %>
          </div>

      <% end %>

      <%= link_to 'All Events', events_path %>
    </div>
  </div>
</div>