<div class="container">
<h1>Listing events</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @events.reverse_each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.location %></td>
    <td><%= event.start_time.strftime("%A, %B %d, %Y %l:%M%p") %></td>
    <td><%= event.end_time.strftime("%A, %B %d, %Y %l:%M%p") %></td>
    <td><%= link_to 'Take Attendance', event_registration_path(id: event.id), class: 'btn'%></td>
    <td><%= link_to 'Show', event, class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_event_path(event), class: 'btn' if eboard_user?%></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' if eboard_user? %></td>
    <th><%= link_to 'View Attendance', user_attendance_path(event), class: 'btn' %></th>
    <th><%= link_to 'Attendance CSV', user_attendance_path(event, format: :csv), class: 'btn'%></th>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path, class: 'btn' if eboard_user? %>
  <%= link_to 'Leaderboard', leaderboard_path, class: 'btn' %>


</div>


