

<div class="container">
  <div class="row">
    <div class="span8 offset3">
      <h2><%= @event.name %>   </h2>

      <table class="table table-striped" id="event_attendance">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>UIN</th>
          <th>Major</th>
        </tr>
        </thead>

        <% @users.each do |user| %>
            <tr id="user_attend">
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.uin %></td>
              <td><%= user.major %></td>


            </tr>
        <% end %>
      </table>

      <%= link_to 'All Events', events_path, class: 'btn' %>
    </div>
  </div>
</div>


