<header class="navbar mainheader">
  <div class="navbar-inner">
      <a class="btn btn-navbar" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </a>
      <!-- TODO: needs to be one pic -->
        <a href="#">
          <%= image_tag "shpe-header.png", :size => '100x100', :class => 'pull-left' %>
          <!-- <img src="img/shpe-logo-transparent.png" height="100px" width="100px" class="pull-left" /> -->
        </a>
        <a class="brand" href="<%= root_path %>">
          <p>Society of Hispanic Professional Engineers<br>SHPE|UIUC</p>
          <!-- <h3>SHPE UIUC</h3> -->
        </a>
      <!-- the correct way how to do it:  -->
      <!-- <div class="brand">
        <a href="#">
          <img src="img/shpe-header.png" height="150px" width="150px" class="pull-left" />
        </a>
      </div> -->
      <div class="nav-collapse collapse">
          <ul class="nav pull-right">
              <li class="current-page">
                <%= link_to 'HOME', root_path %>
              </li>
              <li>
                <%= link_to 'ABOUT', about_path %>
              </li>
              <li>
                <%= link_to 'MEMBERS', members_path %>
              </li>
              <li>
                <%= link_to 'EVENTS', event_list_path %>
              </li>
              <li>
                <%= link_to 'RESOURCES', resources_path  %>
              </li>
              <% if signed_in? %>
              <li>
                  <%= link_to 'PROFILE', user_path(current_user)  %>
              </li>
              <li>

                <%= link_to 'SIGN OUT', signout_path, method: 'delete' %>
                  
              </li>
              <% else %>
              <li>
                <%= link_to 'SIGN IN', signin_path  %>
              </li>
              <% end %>
          </ul>
      <!--</div>-->
    </div>
  </div>
</header>

