<header class="navbar mainheader">
  <div class="navbar-inner">
    <a class="btn btn-navbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <!-- TODO: needs to be one pic -->
    <a href="<%= root_path %>">
      <%= image_tag "shpe-header.png", :size => '100x100', :class => 'pull-left' %>
      <!-- <img src="img/shpe-logo-transparent.png" height="100px" width="100px" class="pull-left" /> -->
    </a>
    <a class="brand" href="<%= root_path %>">
      <p>Society of Hispanic Professional Engineers<br>SHPE|UIUC<br><em id="tagline">Changing Lives... Empowering Communities... Impacting the World...</em></p>
    </a>
    <!-- the correct way how to do it:  -->
    <!-- <div class="brand">
      <a href="#">
        <img src="img/shpe-header.png" height="150px" width="150px" class="pull-left" />
      </a>
    </div> -->
    <div class="nav-collapse collapse">
      <ul class="nav pull-right">
        <li>
          <%= link_to 'HOME', root_path %>
        </li>
        <li class="dropdown current-page"> <!-- Begin Chapter Info -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            CHAPTER INFO <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'About SHPE', about_path %>
            </li>
            <li>
              <%= link_to 'Membership Info', members_path %>
            </li>
            <li>
              <%= link_to 'Executive Board', execboard_path %>
            </li>
            <li>
              <%= link_to 'Constitution', constitution_path %>
            </li>
            <li>
              <%= link_to 'History', history_path %>
            </li>
            <li>
              <%= link_to 'FAQ', faq_path %>
            </li>
          </ul>
        </li> <!-- End Committees -->
        <li class="dropdown current-page"> <!-- Begin Committees -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            COMMITTEES <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to '*** Committee Meeting Times ***', committee_meeting_times_path %>
            </li>
            <li>
              <%= link_to 'External', external_path %>
            </li>
            <li>
              <%= link_to 'Round Table', round_table_path %>
            </li>
            <li>
              <%= link_to 'Fundraising', fundraising_path %>
            </li>
            <li>
              <%= link_to 'MemberSHPE', membershpe_path %>
            </li>
            <li>
              <%= link_to 'Publicity', publicity_path %>
            </li>
            <li>
              <%= link_to 'WebDev', webdev_path %>
            </li>
            <li>
              <%= link_to 'Community Service', community_service_path %>
            </li>
            <li>
              <%= link_to 'Outreach', outreach_path %>
            </li>
            <li>
              <%= link_to 'Technical', technical_path %>
            </li>
          </ul>
        </li> <!-- End Committees -->
        <li>
          <%= link_to 'EVENTS', event_list_path %>
        </li>
        <li>
          <%= link_to 'SPONSORSHIP', sponsor_path %>
        </li>
        <li>
          <%= link_to 'CONTACT', contact_path %>
        </li>
        <% if signed_in? %>
            <li>
              <%= link_to 'PROFILE', user_path(current_user) %>
            </li>
            <% if current_user.admin? or current_user.eboard? %>
                <li>
                  <%= link_to 'ADMIN TOOLS', admin_tools_path %>
                </li>
            <% end %>
            <li>

              <%= link_to 'SIGN OUT', signout_path, method: 'delete' %>

            </li>
        <% else %>
            <li>
              <%= link_to 'SIGN IN', signin_path %>
            </li>
        <% end %>
      </ul>
      <!--</div>-->
    </div>
  </div>
</header>